<h1>WELCOME TO GENERAL PURPOSE INVENTORY SYSTEM.</h1></br></br>
<center><p>CLICK ON THE OBJECT YOU WISH TO ACCESS BELOW </p></center></br></br>
<%= link_to 'ASSETS', { controller: 'inventory' }, class: 'assets-link' %></br></br></br>
<%= link_to 'DEPARTMENTS',{ controller: 'department' }, class: 'assets-link' %></br></br></br>
<%= link_to 'ACCOUNTS', {controller: 'account'}, class: 'assets-link' %></br></br></br>
<%= link_to 'EMPLOYEE', {controller: 'employee' }, class: 'assets-link'%></br></br></br>
