<p>
  <strong>Name:</strong>
  <%= @demand.name %>
</p>
 
<p>
  <strong>quantity:</strong>
  <%= @demand.quantity %>
</p>




<%= link_to 'BACK', demand_index_path %>
<%= link_to 'EDIT', edit_demand_path(@demand) %> |

